<div *ngIf="pageInfo != undefined">
    <div *ngIf="typeInfo == 'new'">
        <div id="wrap">
            <div id="main">
                <div id="wrapper">
                    <div id="logo_wrapper" class="standard_logo_wrapper mb24">
                        <h1 style="height: 100%; display: table-cell; vertical-align: bottom;">
                            <img id="logo" class="standard_logo" src="https://freemansgroup.secure.force.com/dealers/resource/1591169466000/DP_AngularBase_v2/dist/freemans/assets/images/fmi_logo.png" alt="FMI Limited" border="0" name="logo">
                        </h1>
                    </div>
                    <h2 id="header" class="mb12">Reset Your Password</h2>
                    <div id="content">
                        <form class="" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                            <p class="username">To reset your password, enter your username.</p>
                            <mat-form-field>
                                <mat-label>Username</mat-label>
                                <input type="text" matInput formControlName="userName" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
                                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                    <div *ngIf="f.userName.errors.required">User Name is required</div>
                                </div>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Old Password</mat-label>
                                <input type="password" matInput formControlName="oldPassword" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }">
                                <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.oldPassword.errors.required">Old Password is required</div>
                                </div>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Enter New Password</mat-label>
                                <input type="password" matInput formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">New Password is required</div>
                                </div>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Confirm Password</mat-label>
                                <input type="password" matInput formControlName="cnfPassword" [ngClass]="{ 'is-invalid': submitted && f.cnfPassword.errors }">
                                <div *ngIf="submitted && f.cnfPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.cnfPassword.errors.required">Confirm Password is required</div>
                                </div>
                                <div *ngIf="f.password.valid && f.cnfPassword.value">
                                    <div *ngIf="f.cnfPassword.status == 'INVALID'">Password Do Not Match</div>
                                </div>
                            </mat-form-field>
                            <mat-form-field class="sec-que-wrap">
                                <mat-label>Security Question</mat-label>
                                <mat-select formControlName="secQuestion" required name="secure">
                                    <mat-option *ngFor="let secure of questions" [value]="secure.value">
                                        {{secure.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <div *ngIf="submitted && f.secQuestion.errors" class="invalid-feedback">
                                    <div *ngIf="f.secQuestion.errors.required">Security Question is required</div>
                                </div>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Your Answer</mat-label>
                                <input type="text" matInput formControlName="answer" [ngClass]="{ 'is-invalid': submitted && f.answer.errors }">
                                <div *ngIf="submitted && f.answer.errors" class="invalid-feedback">
                                    <div *ngIf="f.answer.errors.required">Answer is required</div>
                                </div>
                            </mat-form-field>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <button class="btn btn-block waves-effect waves-light" (click)="goBack()">CANCEL</button>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <button class="btn btn-primary btn-block waves-effect waves-light">SUBMIT</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div *ngIf="typeInfo == 'reset'">
        <div id="wrap">
            <div id="main">
                <div id="wrapper">
                    <div id="logo_wrapper" class="standard_logo_wrapper mb24">
                        <h1 style="height: 100%; display: table-cell; vertical-align: bottom;">
                            <img id="logo" class="standard_logo" src="https://freemansgroup.secure.force.com/dealers/resource/1591169466000/DP_AngularBase_v2/dist/freemans/assets/images/fmi_logo.png" alt="FMI Limited" border="0" name="logo">
                        </h1>
                    </div>
                    <h2 id="header" class="mb12">Reset Your Password</h2>
                    <div id="content">
                        <form class="" [formGroup]="changePass" (ngSubmit)="onSubmitChange()">
                            <p class="username">To reset your password, enter your username.</p>
                            <mat-form-field>
                                <mat-label>Username</mat-label>
                                <input type="text" matInput formControlName="userName" [ngClass]="{ 'is-invalid': submitted && cf.userName.errors }">
                                <div *ngIf="submitted && cf.userName.errors" class="invalid-feedback">
                                    <div *ngIf="cf.userName.errors.required">User Name is required</div>
                                </div>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Enter New Password</mat-label>
                                <input type="password" matInput formControlName="password" [ngClass]="{ 'is-invalid': submitted && cf.password.errors }">
                                <div *ngIf="submitted && cf.password.errors" class="invalid-feedback">
                                    <div *ngIf="cf.password.errors.required">New Password is required</div>
                                </div>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Confirm Password</mat-label>
                                <input type="password" matInput formControlName="cnfPassword" [ngClass]="{ 'is-invalid': submitted && cf.cnfPassword.errors }">
                                <div *ngIf="submitted && cf.cnfPassword.errors" class="invalid-feedback">
                                    <div *ngIf="cf.cnfPassword.errors.required">Confirm Password is required</div>
                                </div>
                                <div *ngIf="cf.password.valid && cf.cnfPassword.value">
                                    <div *ngIf="cf.cnfPassword.status == 'INVALID'">Password Do Not Match</div>
                                </div>
                            </mat-form-field>
                            <mat-form-field class="sec-que-wrap">
                                <mat-label>Security Question</mat-label>
                                <mat-select formControlName="secQuestion" required name="secure">
                                    <mat-option *ngFor="let secure of questions" [value]="secure.value">
                                        {{secure.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <div *ngIf="submitted && cf.secQuestion.errors" class="invalid-feedback">
                                    <div *ngIf="cf.secQuestion.errors.required">Security Question is required</div>
                                </div>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Your Answer</mat-label>
                                <input type="text" matInput formControlName="answer" [ngClass]="{ 'is-invalid': submitted && cf.answer.errors }">
                                <div *ngIf="submitted && cf.answer.errors" class="invalid-feedback">
                                    <div *ngIf="cf.answer.errors.required">Answer is required</div>
                                </div>
                            </mat-form-field>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <button class="btn btn-block waves-effect waves-light" (click)="resetForm()">CANCEL</button>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <button class="btn btn-primary btn-block waves-effect waves-light">SUBMIT</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>